.header {
  /* position: absolute; */
  /* background-color: var(--dark-orange); */
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-block: 1.5rem;
  padding-inline: var(--max-width-padding);
}

.header nav {
  border: 2px solid red;
  width: 70%;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
}

.header nav ul div section a {
  /* border: 2px solid red; */
  display: block;
}

.header nav ul li {
  list-style-type: none;
}

.header nav ul a {
  text-decoration: none;
  color: #000;
}
