@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --max-width: 1300px;
  --max-width-padding: 1.5rem;

  --green-family: #5a6d10;
  --button-hover-bg: #44520d;
  --light-green-family: #a5ae52;
  --very-light-pink: #f7e3ce;
  --dark-orange: #b5864a;
  --brownish: #942421;

  --logo-font-size: 1.8rem;
  --header-font: 1.5rem;
  --button-font: 18px;
  --placeholder-font: 16px;

  --curvy-edges: 8px;

  --input-height: 3.5rem;

  --logo-font-family: gilroy-bold;

  /* Small Screens */
  --input-sm-height: 2.5rem;
  --placeholder-sm-font: 14px;
  --button-sm-font: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
